<!DOCTYPE html>
<html lang="en">
<head>
<title>jp camargo - web developer</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
</head>
<body>
<section id="wrapper">
  <header>
    <section>
      <h1>jpcamargo.com</h1>
      <!-- This font is called Gaming Classics: Atari 2600 Classic - by Zeh (http://zeh.com.br) -->
    </section>
  </header>
  <section id="content">
    {{ content }}
    
    <aside>
      <h3>about me</h3>
      <div class="me"><img src="/images/me.jpg" alt="" /></div>
      <p>application developer, technology aficionado, cuisine and mixology hobbyist.</p>
      <h3>some projects</h3>
      <ul>
      {% for post in site.categories.project limit: 5 %}
        <li><a href="{{ post.url | replace:'+','%20' }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>

      <h3>code related</h3>
      <ul>
      {% for post in site.categories.code limit: 5 %}
        <li><a href="{{ post.url | replace:'+','%20' }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>

      <h3>useless stuff</h3>
      <ul>
      {% for post in site.categories.wishlist limit: 5 %}
        <li><a href="{{ post.url | replace:'+','%20' }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </aside>
  </section>
  <footer>
    <section>
      <h2>archive</h2>
      <ul>
      {% for post in site.posts %}
        <li><span id="date">{{ post.date | date: "%d/%m/%Y" }}</span> &raquo; <a href="{{ post.url | replace:'+','%20' }}">{{ post.title }}</a></li>
      {% endfor %}
      </ul>
    </section>
  </footer>
</section>

<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-11347736-1']);
_gaq.push(['_trackPageview']);
(function(){
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>
</body>
</html>